body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(#000000, #5e3d00);
    background-attachment: fixed;
}
#particles-js {
    height: 100%;
    position: fixed;
    width: 100%;
}

.navbar-header {
    margin-top: 0px; /*-90*/
}