body {
    text-align: center;
    padding: 30px;
    /*background-image: none;*/
    /*background-color: rgb(41, 41, 41);*/
}

#user-name {
    font-size: 40px;
    font-family: 'orbitron';
}

#user-email {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ffa500;
    padding: 4px 0px 4px 0px;
    width: 28%;
    margin: 0 auto;
    border-radius: 8px;
}

#user-about {
    color: #ffa500;
    font-family: monospace;
    font-size: 20px;
}

#profile-image {
    height: 200px;
    border-radius: 10px;
    border: solid 5px #ffa500;
}